composer.phar
Config/database.php
Config/core.php
Config/email.php
tmp/cache/persistent/*
!tmp/cache/persistent/empty
tmp/cache/models/*
!tmp/cache/models/empty
tmp/cache/views/*
!tmp/cache/views/empty
!tmp/cache/empty
logs/*
!logs/empty
!tmp/tests/empty
tmp/sessions/*
!tmp/sessions/empty
!tmp/empty
tmp/cache/twigView/*
!temp/cache/twigView/empty
/nbproject/private/
webroot/files/
sass/.sass-cache
vendor/*
Plugin/Upload
.vscode/*