Config/database.php
Config/email.php
tmp/cache/persistent/*
tmp/cache/models/*
tmp/cache/views/*
tmp/logs/*
tmp/tests/*
tmp/sessions/*
/nbproject/private/
webroot/files/
sass/.sass-cache
Vendor/
Plugin/Upload
