!Config/database.php
Config/email.php
tmp/cache/persistent/*
!tmp/cache/persistent/empty
tmp/cache/models/*
!tmp/cache/models/empty
tmp/cache/views/*
!tmp/cache/views/empty
!tmp/cache/empty
tmp/logs/*
!tmp/logs/empty
!tmp/tests/empty
tmp/sessions/*
!tmp/sessions/empty
!tmp/empty
/nbproject/private/
webroot/files/
sass/.sass-cache
Vendor/*
!Vendor/empty
Plugin/Upload
