@charset "UTF-8";
/* line 5, ../../sass/src/cake.generic.scss */
* {
  margin: 0;
  padding: 0;
}

/** General Style Info **/
/* line 11, ../../sass/src/cake.generic.scss */
body {
  background: #006699;
  /*#003d4c;*/
  color: #fff;
  font-family: 'lucida grande',verdana,helvetica,arial,sans-serif;
  font-size: 90%;
  margin: 0;
}

/* line 18, ../../sass/src/cake.generic.scss */
a {
  color: #003d4c;
  text-decoration: underline;
  font-weight: bold;
}

/* line 23, ../../sass/src/cake.generic.scss */
a:hover {
  color: #367889;
  text-decoration: none;
}

/* line 27, ../../sass/src/cake.generic.scss */
a img {
  border: none;
}

/* line 30, ../../sass/src/cake.generic.scss */
h1, h2, h3, h4 {
  font-weight: normal;
  margin-bottom: 0.5em;
}

/* line 34, ../../sass/src/cake.generic.scss */
h1 {
  background: #fff;
  color: #003d4c;
  font-size: 100%;
}

/* line 39, ../../sass/src/cake.generic.scss */
h2 {
  background: #fff;
  color: rgba(0, 50, 180, 0.8);
  font-family: 'Gill Sans','lucida grande', helvetica, arial, sans-serif;
  font-size: 190%;
}

/* line 45, ../../sass/src/cake.generic.scss */
h3 {
  color: #2c6877;
  font-family: 'Gill Sans','lucida grande', helvetica, arial, sans-serif;
  font-size: 165%;
}

/* line 50, ../../sass/src/cake.generic.scss */
h4 {
  color: #993;
  font-weight: normal;
}

/* line 54, ../../sass/src/cake.generic.scss */
ul, li {
  margin: 0 6px;
}

/* line 57, ../../sass/src/cake.generic.scss */
p {
  margin: 0 0 1em 0;
}

/** Layout **/
/* line 62, ../../sass/src/cake.generic.scss */
#container {
  text-align: left;
}

/* line 66, ../../sass/src/cake.generic.scss */
#header {
  padding: 10px 20px;
}

/* line 69, ../../sass/src/cake.generic.scss */
#header h1 {
  line-height: 20px;
  background: #003d4c url("../img/cake.icon.png") no-repeat left;
  color: #fff;
  padding: 0px 30px;
}

/* line 75, ../../sass/src/cake.generic.scss */
#header h1 a {
  color: #fff;
  background: #003d4c;
  font-weight: normal;
  text-decoration: none;
}

/* line 81, ../../sass/src/cake.generic.scss */
#header h1 a:hover {
  color: #fff;
  background: #003d4c;
  text-decoration: underline;
}

/* line 86, ../../sass/src/cake.generic.scss */
#content {
  background: #fff;
  clear: both;
  color: #333;
  padding: 10px 20px 40px 20px;
  overflow: auto;
}

/* line 93, ../../sass/src/cake.generic.scss */
#footer {
  clear: both;
  padding: 6px 10px;
  text-align: right;
}

/* line 98, ../../sass/src/cake.generic.scss */
#header a, #footer a {
  color: #fff;
}

/** containers **/
/* line 103, ../../sass/src/cake.generic.scss */
div.form,
div.index,
div.view {
  float: left;
  width: 100%;
}

/* line 109, ../../sass/src/cake.generic.scss */
div.actions {
  float: left;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #666;
}

/* line 115, ../../sass/src/cake.generic.scss */
div.actions h3 {
  float: left;
  width: 4em;
  padding-top: 0;
  color: #777;
}

/** Tables **/
/* line 124, ../../sass/src/cake.generic.scss */
table {
  border-right: 0;
  clear: both;
  color: #333;
  margin-bottom: 10px;
  width: 100%;
}

/* line 131, ../../sass/src/cake.generic.scss */
th {
  border: 0;
  border-bottom: 2px solid #555;
  text-align: left;
  padding: 4px;
}

/* line 137, ../../sass/src/cake.generic.scss */
th a {
  display: block;
  padding: 2px 4px;
  text-decoration: none;
}

/* line 142, ../../sass/src/cake.generic.scss */
th a.asc:after {
  content: ' ⇣';
}

/* line 145, ../../sass/src/cake.generic.scss */
th a.desc:after {
  content: ' ⇡';
}

/* line 148, ../../sass/src/cake.generic.scss */
table tr td {
  padding: 6px;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #ddd;
}

/* line 154, ../../sass/src/cake.generic.scss */
table tr:nth-child(even) {
  background: #f9f9f9;
}

/* line 157, ../../sass/src/cake.generic.scss */
td.actions {
  text-align: center;
  white-space: nowrap;
}

/* line 161, ../../sass/src/cake.generic.scss */
table td.actions a {
  margin: 0px 6px;
  padding: 2px 5px;
}

/* SQL log */
/* line 167, ../../sass/src/cake.generic.scss */
.cake-sql-log {
  background: #fff;
}

/* line 170, ../../sass/src/cake.generic.scss */
.cake-sql-log td {
  padding: 4px 8px;
  text-align: left;
  font-family: Monaco, Consolas, "Courier New", monospaced;
}

/* line 175, ../../sass/src/cake.generic.scss */
.cake-sql-log caption {
  color: #fff;
}

/** Paging **/
/* line 180, ../../sass/src/cake.generic.scss */
.paging {
  background: #fff;
  color: #ccc;
  margin-top: 1em;
  clear: both;
}

/* line 186, ../../sass/src/cake.generic.scss */
.paging .current,
.paging .disabled,
.paging a {
  text-decoration: none;
  padding: 5px 8px;
  display: inline-block;
}

/* line 193, ../../sass/src/cake.generic.scss */
.paging > span {
  display: inline-block;
  border: 1px solid #ccc;
  border-left: 0;
}

/* line 198, ../../sass/src/cake.generic.scss */
.paging > span:hover {
  background: #efefef;
}

/* line 201, ../../sass/src/cake.generic.scss */
.paging .prev {
  border-left: 1px solid #ccc;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

/* line 207, ../../sass/src/cake.generic.scss */
.paging .next {
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

/* line 212, ../../sass/src/cake.generic.scss */
.paging .disabled {
  color: #ddd;
}

/* line 215, ../../sass/src/cake.generic.scss */
.paging .disabled:hover {
  background: transparent;
}

/* line 218, ../../sass/src/cake.generic.scss */
.paging .current {
  background: #efefef;
  color: #c73e14;
}

/** Forms **/
/* line 224, ../../sass/src/cake.generic.scss */
form {
  clear: both;
  margin-right: 20px;
  padding: 0;
  width: 95%;
}

/* line 230, ../../sass/src/cake.generic.scss */
fieldset {
  border: none;
  margin-bottom: 1em;
  padding: 16px 10px;
}

/* line 235, ../../sass/src/cake.generic.scss */
fieldset legend {
  color: rgba(0, 50, 180, 0.8);
  font-size: 160%;
  font-weight: bold;
}

/* line 240, ../../sass/src/cake.generic.scss */
fieldset fieldset {
  margin-top: 0;
  padding: 10px 0 0;
}

/* line 244, ../../sass/src/cake.generic.scss */
fieldset fieldset legend {
  font-size: 120%;
  font-weight: normal;
}

/* line 248, ../../sass/src/cake.generic.scss */
fieldset fieldset div {
  clear: left;
  margin: 0 20px;
}

/* line 252, ../../sass/src/cake.generic.scss */
form div {
  margin-bottom: 1em;
  padding: .5em;
  vertical-align: text-top;
}

/* line 257, ../../sass/src/cake.generic.scss */
form .input {
  color: #444;
}

/* line 261, ../../sass/src/cake.generic.scss */
form div .number {
  width: 10em;
}

/* line 265, ../../sass/src/cake.generic.scss */
form .required {
  font-weight: bold;
}

/* line 268, ../../sass/src/cake.generic.scss */
form .required label:after {
  color: #e32;
  content: '*';
  display: inline;
}

/* line 273, ../../sass/src/cake.generic.scss */
form div.submit {
  border: 0;
  clear: both;
  margin-top: 10px;
}

/* line 278, ../../sass/src/cake.generic.scss */
label {
  display: block;
  font-size: 110%;
  margin-bottom: 3px;
  width: 10em;
  float: left;
}

/* line 285, ../../sass/src/cake.generic.scss */
input, textarea {
  clear: both;
  font-size: 140%;
  font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
  padding: 1%;
  width: 60%;
}

/* line 293, ../../sass/src/cake.generic.scss */
select {
  clear: both;
  font-size: 120%;
  vertical-align: text-bottom;
}

/* line 298, ../../sass/src/cake.generic.scss */
select[multiple=multiple] {
  width: 100%;
}

/* line 301, ../../sass/src/cake.generic.scss */
option {
  font-size: 120%;
  padding: 0 3px;
}

/* line 305, ../../sass/src/cake.generic.scss */
input[type=checkbox] {
  clear: left;
  float: left;
  margin: 0px 6px 7px 2px;
  width: auto;
}

/* line 311, ../../sass/src/cake.generic.scss */
div.checkbox label {
  display: inline;
}

/* line 314, ../../sass/src/cake.generic.scss */
input[type=radio] {
  float: left;
  width: auto;
  margin: 6px 0;
  padding: 0;
  line-height: 26px;
}

/* line 321, ../../sass/src/cake.generic.scss */
.radio label {
  margin: 0 0 6px 20px;
  line-height: 26px;
}

/* line 325, ../../sass/src/cake.generic.scss */
input[type=submit] {
  display: inline;
  font-size: 110%;
  width: auto;
}

/* line 330, ../../sass/src/cake.generic.scss */
form .submit input[type=submit] {
  background: #62af56;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
  background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
  background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
  border-color: #2d6324;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
  padding: 8px 10px;
}

/* line 340, ../../sass/src/cake.generic.scss */
form .submit input[type=submit]:hover {
  background: #5BA150;
}

/* Form errors */
/* line 344, ../../sass/src/cake.generic.scss */
form .error {
  background: #FFDACC;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-weight: normal;
}

/* line 351, ../../sass/src/cake.generic.scss */
form .error-message {
  -moz-border-radius: none;
  -webkit-border-radius: none;
  border-radius: none;
  border: none;
  background: none;
  margin: 0;
  padding-left: 4px;
  padding-right: 0;
}

/* line 361, ../../sass/src/cake.generic.scss */
form .error,
form .error-message {
  color: #9E2424;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}

/** Notices and Errors **/
/* line 373, ../../sass/src/cake.generic.scss */
.message {
  clear: both;
  color: #fff;
  font-size: 140%;
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 5px;
}

/* line 382, ../../sass/src/cake.generic.scss */
.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
  background: #ffcc00;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
  background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
  background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
  background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
  background-image: linear-gradient(top, #ffcc00, #E6B800);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 18px;
  padding: 7px 14px;
  color: #404040;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

/* line 410, ../../sass/src/cake.generic.scss */
.success,
.message,
.cake-error,
p.error,
.error-message {
  clear: both;
  color: #fff;
  background: #c43c35;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

/* line 428, ../../sass/src/cake.generic.scss */
.success {
  clear: both;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: #3B8230;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
  background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
  background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
  background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
  background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
  background-image: linear-gradient(top, #76BF6B, #3B8230);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

/* line 442, ../../sass/src/cake.generic.scss */
p.error {
  font-family: Monaco, Consolas, Courier, monospace;
  font-size: 120%;
  padding: 0.8em;
  margin: 1em 0;
}

/* line 448, ../../sass/src/cake.generic.scss */
p.error em {
  font-weight: normal;
  line-height: 140%;
}

/* line 452, ../../sass/src/cake.generic.scss */
.notice {
  color: #000;
  display: block;
  font-size: 120%;
}

/* line 457, ../../sass/src/cake.generic.scss */
.success {
  color: #fff;
}

/**  Actions  **/
/* line 462, ../../sass/src/cake.generic.scss */
.actions ul {
  margin: 0;
  padding: 0;
}

/* line 466, ../../sass/src/cake.generic.scss */
.actions li {
  margin: 0 0 0.5em 0;
  list-style-type: none;
  white-space: nowrap;
  padding: 0 2px 0 0;
}

/* line 472, ../../sass/src/cake.generic.scss */
.actions ul li a {
  font-weight: normal;
  display: block;
  margin-right: 1em;
  float: left;
  font-size: 1.2em;
}

/* Buttons and button links */
/* line 482, ../../sass/src/cake.generic.scss */
input[type=submit], .btn-primary {
  font-weight: normal;
  padding: 4px 8px;
  background: #dcdcdc;
  background-image: linear-gradient(top, #fefefe, #dcdcdc);
  color: #333;
  border: 1px solid #bbb;
  border-radius: 4px;
  text-decoration: none;
  text-shadow: #fff 0px 1px 0px;
  min-width: 0;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
  user-select: none;
}

/* line 497, ../../sass/src/cake.generic.scss */
input[type=submit]:active, .btn-primary:active {
  background: #eee;
  background-image: linear-gradient(top, #dfdfdf, #eee);
  text-shadow: #eee 0px 1px 0px;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
  border-color: #aaa;
  text-decoration: none;
}

/** Related **/
/* line 508, ../../sass/src/cake.generic.scss */
.related {
  clear: both;
  display: block;
}

/** Debugging **/
/* line 514, ../../sass/src/cake.generic.scss */
pre {
  color: #000;
  padding: 15px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  white-space: pre-wrap;
  /* css-3 */
  font-family: sans-serif;
  font-size: 1.2em;
}

/* line 522, ../../sass/src/cake.generic.scss */
.cake-debug-output {
  padding: 0;
  position: relative;
}

/* line 526, ../../sass/src/cake.generic.scss */
.cake-debug-output > span {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(255, 255, 255, 0.3);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 5px 6px;
  color: #000;
  display: block;
  float: left;
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}

/* line 543, ../../sass/src/cake.generic.scss */
.cake-debug,
.cake-error {
  font-size: 16px;
  line-height: 20px;
  clear: both;
}

/* line 549, ../../sass/src/cake.generic.scss */
.cake-error > a {
  text-shadow: none;
}

/* line 552, ../../sass/src/cake.generic.scss */
.cake-error {
  white-space: normal;
}

/* line 555, ../../sass/src/cake.generic.scss */
.cake-stack-trace {
  background: rgba(255, 255, 255, 0.7);
  color: #333;
  margin: 10px 0 5px 0;
  padding: 10px 10px 0 10px;
  font-size: 120%;
  line-height: 140%;
  overflow: auto;
  position: relative;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 568, ../../sass/src/cake.generic.scss */
.cake-stack-trace a {
  text-shadow: none;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0px 4px 10px 2px;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 14px;
  display: inline-block;
  text-decoration: none;
  -moz-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
}

/* line 585, ../../sass/src/cake.generic.scss */
.cake-code-dump pre {
  position: relative;
  overflow: auto;
}

/* line 589, ../../sass/src/cake.generic.scss */
.cake-context {
  margin-bottom: 10px;
}

/* line 592, ../../sass/src/cake.generic.scss */
.cake-stack-trace pre {
  color: #000;
  background-color: #F0F0F0;
  margin: 0px 0 10px 0;
  padding: 1em;
  overflow: auto;
  text-shadow: none;
}

/* line 600, ../../sass/src/cake.generic.scss */
.cake-stack-trace li {
  padding: 10px 5px 0px;
  margin: 0 0 4px 0;
  font-family: monospace;
  border: 1px solid #bbb;
  -moz-border-radius: 4px;
  -wekbkit-border-radius: 4px;
  border-radius: 4px;
  background: #dcdcdc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
  background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
  background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
  background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
  background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
  background-image: linear-gradient(top, #fefefe, #dcdcdc);
}

/* excerpt */
/* line 617, ../../sass/src/cake.generic.scss */
.cake-code-dump pre,
.cake-code-dump pre code {
  clear: both;
  font-size: 12px;
  line-height: 15px;
  margin: 4px 2px;
  padding: 4px;
  overflow: auto;
}

/* line 626, ../../sass/src/cake.generic.scss */
.cake-code-dump .code-highlight {
  display: block;
  background-color: rgba(255, 255, 0, 0.5);
}

/* line 630, ../../sass/src/cake.generic.scss */
.code-coverage-results div.code-line {
  padding-left: 5px;
  display: block;
  margin-left: 10px;
}

/* line 635, ../../sass/src/cake.generic.scss */
.code-coverage-results div.uncovered span.content {
  background: #ecc;
}

/* line 638, ../../sass/src/cake.generic.scss */
.code-coverage-results div.covered span.content {
  background: #cec;
}

/* line 641, ../../sass/src/cake.generic.scss */
.code-coverage-results div.ignored span.content {
  color: #aaa;
}

/* line 644, ../../sass/src/cake.generic.scss */
.code-coverage-results span.line-num {
  color: #666;
  display: block;
  float: left;
  width: 20px;
  text-align: right;
  margin-right: 5px;
}

/* line 652, ../../sass/src/cake.generic.scss */
.code-coverage-results span.line-num strong {
  color: #666;
}

/* line 655, ../../sass/src/cake.generic.scss */
.code-coverage-results div.start {
  border: 1px solid #aaa;
  border-width: 1px 1px 0px 1px;
  margin-top: 30px;
  padding-top: 5px;
}

/* line 661, ../../sass/src/cake.generic.scss */
.code-coverage-results div.end {
  border: 1px solid #aaa;
  border-width: 0px 1px 1px 1px;
  margin-bottom: 30px;
  padding-bottom: 5px;
}

/* line 667, ../../sass/src/cake.generic.scss */
.code-coverage-results div.realstart {
  margin-top: 0px;
}

/* line 670, ../../sass/src/cake.generic.scss */
.code-coverage-results p.note {
  color: #bbb;
  padding: 5px;
  margin: 5px 0 10px;
  font-size: 10px;
}

/* line 676, ../../sass/src/cake.generic.scss */
.code-coverage-results span.result-bad {
  color: #a00;
}

/* line 679, ../../sass/src/cake.generic.scss */
.code-coverage-results span.result-ok {
  color: #fa0;
}

/* line 682, ../../sass/src/cake.generic.scss */
.code-coverage-results span.result-good {
  color: #0a0;
}
