/*
Recipe Box on Left.  This is the sidecar of the site.
*/
/* line 5, ../../sass/src/_recipeBox.scss */
#recipeLinkBox {
  float: left;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.18);
  border-radius: 10px 10px 10px 10px;
  border: 1px solid rgba(250, 250, 250, 0.27);
  box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.698);
  margin-left: 20px;
  margin-right: 20px;
}

/* line 16, ../../sass/src/_recipeBox.scss */
.recipeBoxList {
  list-style-type: none;
}

/* line 20, ../../sass/src/_recipeBox.scss */
#recipeLinks {
  background: none repeat scroll 0 0 #FFFFFF;
  clear: both;
  color: #333333;
  overflow: auto;
  padding: 10px 20px 40px;
  border-radius: 0px 0px 5px 5px;
}

/* line 29, ../../sass/src/_recipeBox.scss */
#recipeLinksTitle {
  padding: 6px;
  text-align: center;
  font-weight: bold;
}

/* line 35, ../../sass/src/_recipeBox.scss */
#addRecipeLink {
  text-align: center;
  width: 100%;
}

/*
 Global Site Search Box.  Changes behavior based on the main content
 */
/* line 4, ../../sass/src/_siteSearch.scss */
#searchHolder {
  margin: -5px -5px -5px 0px;
  float: left;
  width: 300px;
}
/* line 9, ../../sass/src/_siteSearch.scss */
#searchHolder form {
  padding: 0px;
  margin: 0px;
}
/* line 14, ../../sass/src/_siteSearch.scss */
#searchHolder input {
  border: none;
  background: none;
  line-height: 18px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 14px;
  height: 30px;
  padding: 0px;
  width: 200px;
  float: left;
  margin-right: 10px;
  margin-top: 2px;
}
/* line 28, ../../sass/src/_siteSearch.scss */
#searchHolder span {
  padding: 0px;
  margin: 0px;
  background: 1px 1px url(../img/searchbg.png) no-repeat;
  padding-right: 30px;
  display: block;
  float: left;
  width: 280px;
  padding-left: 40px;
  height: 37px;
  padding-top: 5px;
}
/* line 41, ../../sass/src/_siteSearch.scss */
#searchHolder .cancelBtn {
  float: left;
  margin-top: 8px;
  border: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

/* line 51, ../../sass/src/_siteSearch.scss */
#signInButton {
  background-color: #006699;
  color: white;
  cursor: hand;
  text-decoration: none;
  border-radius: 2px;
  border: 1px solid #fff;
}

/* Recipes */
/* line 2, ../../sass/src/_recipes.scss */
#sourcesEditLink {
  margin-left: 1em;
}

/* line 3, ../../sass/src/_recipes.scss */
#RecipeEditForm div {
  padding: 0;
}

/* line 4, ../../sass/src/_recipes.scss */
#RecipeServingSize {
  width: 4em;
}

/* line 5, ../../sass/src/_recipes.scss */
#ingredientsSection .text input, #ingredientsSection .ui-widget input {
  width: auto;
  font-size: 1.2em;
}

/* line 9, ../../sass/src/_recipes.scss */
#RecipeDirections {
  width: 80%;
}

/* line 10, ../../sass/src/_recipes.scss */
#addNewIngredientsLink {
  display: inline;
}

/* line 11, ../../sass/src/_recipes.scss */
.ui-icon-trash, .ui-icon-arrow-4 {
  transform: scale(1.8);
  margin: 10px;
  margin-left: 12px;
}

/* line 16, ../../sass/src/_recipes.scss */
.deleteIcon, .moveIcon {
  width: 40px;
  padding-top: 6px;
}

/* line 21, ../../sass/src/_recipes.scss */
#ingredientsSection {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px !important;
}

/* line 27, ../../sass/src/_recipes.scss */
.fraction {
  width: 6em;
}

/* line 29, ../../sass/src/_recipes.scss */
#relatedRecipes {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px !important;
}

/* View Recipes */
/* line 36, ../../sass/src/_recipes.scss */
.float50Section {
  float: left;
  width: 50%;
}

/* line 40, ../../sass/src/_recipes.scss */
.float40Section {
  float: left;
  width: 40%;
}

/* line 44, ../../sass/src/_recipes.scss */
float60Section {
  float: left;
  width: 60%;
}

/* line 49, ../../sass/src/_recipes.scss */
#imageSection {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px !important;
}

/* line 54, ../../sass/src/_recipes.scss */
#currentImages {
  width: 100%;
}

/* line 57, ../../sass/src/_recipes.scss */
.recipeImage {
  float: left;
  width: 80px;
  height: 60px;
  margin: 1em;
}

/* line 63, ../../sass/src/_recipes.scss */
.recipeImage div {
  margin-bottom: 4px;
}

/* line 66, ../../sass/src/_recipes.scss */
.recipeImage label {
  float: none;
}

/* line 69, ../../sass/src/_recipes.scss */
.recipeImage img {
  margin-left: 1.5em;
}

/* line 73, ../../sass/src/_recipes.scss */
#imagePreview {
  margin-top: -50px;
}

/* line 76, ../../sass/src/_recipes.scss */
#imagePreview a {
  margin-top: 6px;
  margin-left: 6px;
}

/* line 80, ../../sass/src/_recipes.scss */
#imagePreview #selectedPreviewImage img {
  margin-left: 4em;
}

/* line 83, ../../sass/src/_recipes.scss */
#ImageOptions {
  margin-left: 3em;
}

/* line 87, ../../sass/src/_recipes.scss */
#viewServings {
  width: 2em;
}

/* Meal Planner                       */
/* -----------------------------------*/
/* line 9, ../../sass/src/_mealPlanner.scss */
.mealPlans.index {
  width: 1200px;
}

/* line 13, ../../sass/src/_mealPlanner.scss */
.mealPlans {
  margin-top: 1em;
}

/* line 16, ../../sass/src/_mealPlanner.scss */
#weeklyContainer {
  border: 1px solid black;
  border-radius: 4px;
  min-height: 170px;
  padding-left: 4px;
}

/* line 22, ../../sass/src/_mealPlanner.scss */
.dayHeader {
  border-bottom: 1px solid black;
  float: left;
  font-weight: bold;
  width: 170px;
}

/* line 28, ../../sass/src/_mealPlanner.scss */
.dayContent {
  border-radius: 1px;
  border-right: 1px solid gray;
  float: left;
  font-weight: normal;
  min-height: 142px;
  padding: 3px;
  width: 158px;
}

/* line 37, ../../sass/src/_mealPlanner.scss */
.endOfRow {
  border-right: none;
}

/* line 38, ../../sass/src/_mealPlanner.scss */
.nextMonth {
  background: #DBDBDB;
  width: 167px;
}

/* line 42, ../../sass/src/_mealPlanner.scss */
.calendarNavigation {
  font-size: 1.5em;
  font-weight: bold;
  margin: 8px;
  text-decoration: none;
}

/* line 48, ../../sass/src/_mealPlanner.scss */
.currentDay {
  background: rgba(0, 0, 100, 0.2);
  border-right: 1px solid black;
}

/* line 52, ../../sass/src/_mealPlanner.scss */
.mealType {
  border-radius: 4px;
  margin-right: 2px;
  margin-top: 2px;
  padding: 4px;
  overflow: auto;
  background: #f5f5f5;
  /* Default background for undefined */
  border: 1px solid #DBDBDB;
}

/* line 61, ../../sass/src/_mealPlanner.scss */
.mealType a {
  float: left;
}

/* Breakfast */
/* line 64, ../../sass/src/_mealPlanner.scss */
.mealType1 {
  background: #fcf8e3;
}

/* Lunch */
/* line 68, ../../sass/src/_mealPlanner.scss */
.mealType3 {
  background: #d9edf7;
}

/* Dinner */
/* line 72, ../../sass/src/_mealPlanner.scss */
.mealType5 {
  background: #dff0d8;
}

/* Dessert */
/* line 76, ../../sass/src/_mealPlanner.scss */
.mealType6 {
  background: #f2dede;
}

/* line 80, ../../sass/src/_mealPlanner.scss */
.mealLegend {
  border: 1px solid #DBDBDB;
  border-radius: 4px;
  overflow: auto;
  padding: 1em;
}
/* line 85, ../../sass/src/_mealPlanner.scss */
.mealLegend div {
  width: 100px;
  float: left;
  margin-right: 1em;
}

/* Edit a meal day */
/* line 94, ../../sass/src/_mealPlanner.scss */
#recipeServingInfo {
  font-style: italic;
  font-weight: normal;
  margin-bottom: 0;
  margin-left: 11em;
  padding-bottom: 0;
  padding-top: 4px;
  display: none;
}

/* line 104, ../../sass/src/_mealPlanner.scss */
#MealPlanServings, #MealPlanDays {
  width: 4em;
}

/* line 106, ../../sass/src/_mealPlanner.scss */
#MealPlanSkip {
  margin-left: 11em;
}

/* line 110, ../../sass/src/_mealPlanner.scss */
.viewRecipe {
  text-align: center;
  margin-top: 22px;
}
/* line 113, ../../sass/src/_mealPlanner.scss */
.viewRecipe a {
  margin-right: 2em;
}

/* line 1, ../../sass/src/_shoppingList.scss */
.shoppingListText {
  font-size: 1.4em;
  padding-left: 1em;
  padding-top: 18px;
}
/* line 5, ../../sass/src/_shoppingList.scss */
.shoppingListText a {
  font-size: .8em;
}

/* line 10, ../../sass/src/_shoppingList.scss */
.shoppingListText-recipe {
  width: 700px;
}

/* line 14, ../../sass/src/_shoppingList.scss */
.shoppingListText-ingredient {
  width: 450px;
}

/* line 19, ../../sass/src/_shoppingList.scss */
#ShoppingListEditForm .number {
  width: 6em;
}

/* line 25, ../../sass/src/_shoppingList.scss */
.addShoppingListItem span {
  font-size: 1.4em;
}

/* line 30, ../../sass/src/_shoppingList.scss */
#selectStore {
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-bottom: 1em;
  padding: 8px 0 4px 8px;
  width: 50%;
}
/* line 36, ../../sass/src/_shoppingList.scss */
#selectStore label {
  margin-top: 5px;
  width: 8em;
}

/* line 42, ../../sass/src/_shoppingList.scss */
.strikeThrough {
  text-decoration: line-through;
}

/* line 46, ../../sass/src/_shoppingList.scss */
.storeLocation div {
  background: none repeat scroll 0 0 #2e629d;
  border-radius: 4px;
  box-shadow: 2px 2px 2px #000;
  color: #fff;
  font-size: 0.8em;
  padding: 4px 0 4px 1em;
  text-shadow: 2px 2px #000;
}

/* line 56, ../../sass/src/_shoppingList.scss */
.vendor-input {
  width: 4em;
  margin-left: 1em;
}

/* Buttons */
/* line 3, ../../sass/src/_buttons.scss */
.btn-primary {
  border: 0;
  clear: both;
  margin-top: 10px;
  display: inline;
  font-size: 110%;
  width: auto;
  background: #62af56;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
  background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
  background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
  border: 1px solid #2d6324;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
  padding: 8px 10px;
  margin-left: 10px;
  cursor: pointer;
}

/* line 22, ../../sass/src/_buttons.scss */
.btn-primary:hover {
  background: #5BA150;
}

/* line 26, ../../sass/src/_buttons.scss */
.btn-secondary {
  background-color: #337ab7;
  border-color: #2e6da4;
  color: #fff;
}

/* line 31, ../../sass/src/_buttons.scss */
.btn {
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

/* line 1, ../../sass/src/_setup.scss */
.setup {
  font-size: 1.2em;
  margin: 2em;
}
/* line 2, ../../sass/src/_setup.scss */
.setup spacer {
  width: 1200px;
  display: block;
}
/* line 8, ../../sass/src/_setup.scss */
.setup ul {
  margin-left: 30px;
}
/* line 10, ../../sass/src/_setup.scss */
.setup ul li {
  margin-bottom: 4px;
}

/* line 9, ../../sass/src/default.scss */
.constrain {
  margin: 0;
  max-width: 1240px;
  padding: 0;
}

/* line 15, ../../sass/src/default.scss */
.clear {
  clear: both;
  width: 100%;
}

/* line 19, ../../sass/src/default.scss */
.hide {
  display: none;
}

/* line 23, ../../sass/src/default.scss */
.float-left {
  float: left;
}

/* line 27, ../../sass/src/default.scss */
.disabled {
  color: darkGray;
  font-style: italic;
}

/* line 32, ../../sass/src/default.scss */
#main {
  background-color: rgba(0, 0, 0, 0.18);
  border-left: 1px solid rgba(2, 2, 2, 0.28);
  border-radius: 10px 10px 0 0;
  border-right: 1px solid rgba(2, 2, 2, 0.28);
  border-top: 1px solid rgba(250, 250, 250, 0.27);
  box-shadow: 0 0 5px rgba(1, 1, 1, 0.698);
  float: left;
}

/* line 41, ../../sass/src/default.scss */
nav ul {
  float: left;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
}

/* line 48, ../../sass/src/default.scss */
nav ul, nav ol {
  list-style: none outside none;
}

/* line 52, ../../sass/src/default.scss */
nav li {
  float: left;
  font: 16px "klavika-web","Helvetica Neue",Helvetica,Arial,Geneva,sans-serif;
  margin-right: 2px;
  padding: 4px 4px 4px 4px;
}

/* line 59, ../../sass/src/default.scss */
nav a {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding: 6px 10px;
}

/* line 66, ../../sass/src/default.scss */
nav li a:hover, nav li.current a {
  background: none repeat scroll 0 0 transparent;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.796), 0 0 10px rgba(255, 255, 255, 0.298);
}

/* line 73, ../../sass/src/default.scss */
nav li a {
  border: 1px solid transparent;
  color: #FFFFFF;
  display: block;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.76);
}

/* line 81, ../../sass/src/default.scss */
#settingsLink a {
  padding-bottom: 0;
  margin-top: -4px;
}

/* line 85, ../../sass/src/default.scss */
nav li img {
  width: 30px;
  height: 30px;
  padding-bottom: 4px;
}

@media (max-width: 1024px) {
  /* line 92, ../../sass/src/default.scss */
  .higherRes {
    display: none;
  }
}
/* line 98, ../../sass/src/default.scss */
dl {
  margin-top: 1em;
}
/* line 101, ../../sass/src/default.scss */
dl dt {
  display: block;
  float: left;
  clear: both;
  width: 12em;
  font-weight: bold;
  padding-top: 4px;
}
/* line 110, ../../sass/src/default.scss */
dl dd {
  display: block;
  float: left;
  padding-top: 4px;
}

/* line 118, ../../sass/src/default.scss */
.loadingImage {
  background-color: rgba(0, 0, 0, 0.18);
  border: 1px solid rgba(250, 250, 250, 0.27);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.698);
  height: 80px;
  text-align: center;
  width: 100px;
  float: left;
  margin: 10px;
}

/* line 129, ../../sass/src/default.scss */
.loadingImage > div {
  width: 100px;
  height: 50px;
  background: white;
}

/* line 134, ../../sass/src/default.scss */
.loadingImage img {
  padding: 10px 0 0;
}

/* Action Links */
/* line 139, ../../sass/src/default.scss */
#moreActionLinks {
  width: 180px;
}

/* line 142, ../../sass/src/default.scss */
#moreActionLinksContent li {
  list-style-type: none;
  font-size: 1.4em;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Breadcrumbs */
/* line 150, ../../sass/src/default.scss */
.breadcrumb > li + li:before {
  color: #ccc;
  content: "/ ";
  padding: 0 5px;
}

/* line 155, ../../sass/src/default.scss */
.breadcrumb {
  background-color: #f5f5f5;
  border-radius: 4px;
  list-style: outside none none;
  margin-bottom: 20px;
  padding: 8px 15px;
}
/* line 162, ../../sass/src/default.scss */
.breadcrumb li {
  display: inline-block;
}
/* line 165, ../../sass/src/default.scss */
.breadcrumb .active {
  color: #777;
}
