/* Print Styles */
@media print {
  /* line 4, ../../sass/src/print.scss */
  body {
    background: white;
    color: black;
    margin: 0;
  }

  /* line 6, ../../sass/src/print.scss */
  #recipeLinkBoxContainer,
  .actions,
  #navigation-menu,
  .breadcrumb,
  #selectStore,
  .btn-primary,
  .headerRow {
    display: none;
  }

  /* line 17, ../../sass/src/print.scss */
  h2 {
    color: black;
    font-size: 24pt;
    font-weight: bold;
  }

  /* line 23, ../../sass/src/print.scss */
  .storeLocation div {
    background: none;
    border-radius: none;
    box-shadow: none;
    color: black;
    font-size: 0.8em;
    font-weight: bold;
    text-shadow: none;
  }

  /* line 34, ../../sass/src/print.scss */
  #instoreShoppingList td {
    padding: 1px;
  }
}
