UID=1000
GID=1000

# MySQL example
DATABASE_URL="mysql://phpuser:RBAdm1n@db/phprecipebook?encoding=utf8&timezone=UTC&cacheMetadata=true&quoteIdentifiers=false&persistent=false"
MYSQL_USER=phpuser
MYSQL_PASSWORD=RBAdm1n
MYSQL_RANDOM_ROOT_PASSWORD=1

# PostgreSQL example
# DATABASE_URL="postgres://phpuser:RBAdm1n@db/phprecipebook?encoding=utf8&timezone=UTC&cacheMetadata=true&quoteIdentifiers=false&persistent=false"
POSTGRES_USER=phpuser
POSTGRES_PASSWORD=RBAdm1n

SECURITY_SALT=random-string

EMAIL_TRANSPORT_DEFAULT_URL="smtp://my@gmail.com:secret@smtp.gmail.com?tls=true"
EMAIL_FROM_ADDRESS="noreply@phprecipebook.com"
EMAIL_FROM_NAME="PHP RecipeBook"
#PHPRB_INSERT_SEEDS: "true"
