/* Recipes */
#sourcesEditLink { margin-left: 1em; }
#RecipeEditForm div { padding: 0 }
#RecipeServingSize { width: 4em;}
#ingredientsSection .text input, #ingredientsSection .ui-widget input { 
    width: auto;
    font-size: 1.2em;
}
#RecipeDirections { width: 80%;}
#addNewIngredientsLink { display: inline;}
.ui-icon-trash, .ui-icon-arrow-4, .ui-icon-comment {
    transform: scale(1.8);
    margin: 10px;
    margin-left: 12px
}
.deleteIcon, .moveIcon, .commentIcon {
    width: 40px;
    padding-top: 6px;
}

#ingredientsSection {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px !important;
}

.fraction { width: 6em;}

#relatedRecipes {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px !important;
}

#editNoteDialog {
    display: none;
    textarea {
        width: 17em;
        height: 4em;
    }
}

/* View Recipes */
.float50Section {
    float: left;
    width: 50%;
}
.float40Section {
    float: left;
    width: 40%;
}
float60Section {
    float: left;
    width: 60%;
}

#imageSection {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px !important;
}
#currentImages { 
    width: 100%;
}
.recipeImage {
    float: left;
    width: 80px;
    height: 60px;
    margin: 1em;
}
.recipeImage div {
    margin-bottom: 4px;
}
.recipeImage label {
    float: none;
}
.recipeImage img {
    margin-left: 1.5em;
}

#selectedRecipeImage {
    float: left;
    margin-left: 40px;
    width: 230px;
}

#previewImageOptions a {
    height: 55px;
    margin-bottom: 4px;
    float: left;
    width: 70px;
}

#viewServings {
    width: 2em;
}

.relatedRecipe {
    span {
        background-color: $primary-color;
        border-radius: 6px;
        display: block;
        padding: 8px;
        width: 100%;
        color: #FFF;
        margin-bottom: 1em;
        font-size: 1.2em;
        a {
            color: #FFF;
        }
    }
}

.ingredientViewUnit {
    width: 6em;
}

