.reviewCell {
    .reviewComment {
        font-style: italic;
        margin: 1em;
    }
    a {
        margin-left: 1em;
    }
    border: 1px dashed gray;
    border-radius: 4px;
    margin-bottom: 2em;
    padding: 1em;
    width: 80%;
}

