.setup {
    spacer {
        width: 1200px;
        display: block;
    }
    font-size: 1.2em;
    margin: 2em;
    ul {
        margin-left: 30px;
        li {
            margin-bottom: 4px;
        }
    }
}

