.shoppingListText {
    font-size: 1.4em;
    padding-left: 1em;
    padding-top: 18px;
    a {
        font-size: .8em;
    }
}
    
.shoppingListText-recipe {
    width: 700px;
}

.shoppingListText-ingredient {
    width: 450px;
}

#ShoppingListEditForm {
    .number {
        width: 6em;
    }
}

.addShoppingListItem {
    span {
        font-size: 1.4em;
    }
}

.strikeThrough {
    text-decoration: line-through;
}

