.shoppingListText {
    font-size: 1.4em;
    padding-left: 1em;
    padding-top: 18px;
}

    
.shoppingListText-recipe {
    width: 700px;
}

.shoppingListText-ingredient {
    width: 450px;
}

#ShoppingListEditForm {
    .number {
        width: 6em;
    }
}

